.game {
  width: 600px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url(resources/dino.png);

  position: relative;
  top: 150px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  15% {
    top: 120px;
  }

  30% {
    top: 90px;
  }

  50% {
    top: 60px;
  }

  70% {
    top: 90px;
  }

  85% {
    top: 120px;
  }

  100% {
    top: 150px;
  }
}

#obtic {
  width: 20px;
  left: 575px;
  position: relative;
}

.obtic1 {
  height: 40px;
  top: 110px;

  background-color: aqua;
}

.obtic2 {
  height: 60px;
  top: 90px;

  background-color: aquamarine;
}

.move {
  animation: block 1s infinite linear;
}

@keyframes block {
  0% {
    left: 580px;
  }
  100% {
    left: -50px;
  }
}

.ayoub {
  top: 150;
}
